.animal-img {
    margin-top:50px; 
    text-align:center;
}

.animal-img img {
    width: 500px;
    height: auto;
}
.list-ngang {
    list-style: none;          
    display: flex;            
    justify-content: center;  
    gap: 40px;                 
    padding: 0;
    margin: 20px 0;
}
.list-ngang li {
    position: relative;
    padding-bottom: 8px;
    font-weight: bold;
}
.list-ngang li::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: green;
    margin-top: 6px;
}
ul li:hover {
    color: rgb(252, 3, 3);
}
