.home-category {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
}

.home-category h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.category-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.category-item {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 400px;
    background: #f8f8f8;
    padding: 18px 20px;
    border-left: 5px solid #4CAF50;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.category-item img {
    width: 30px;
    height: 30px;
}

.category-item .emoji {
    font-size: 22px;
}

.category-item:hover {
    background: #e9f5ec;
    transform: translateY(-4px);
}
h1 {
    text-align: center;
}
p {
    text-align: center;
    color: rgb(255, 255, 255);
}
body {
    background-color: black;
    color: white;
}
span {
    color: black;
}
h2 {
    text-align: center;
}
h4 {
    color: black;
}